workshops/**/build/*
workshops/**/bin/*
workshops/**/Debug/*
workshops/**/obj/*
workshops/**/.vscode/*
workshops/**/.vs
workshops/**/*.layout
workshops/**/*.depend
workshops/**/*.vcxproj.*
workshops/**/Makefile.win
workshops/**/*.o
workshops/**/*.exe
